@page
@using TrainingTracker.FitConversion
@using TrainingTracker.Service
@model ActivitiesModel
@{
    ViewData["Title"] = "Activities";
}

<div class="activity-background">
    <div class="activities-panel">

        <h1 class="activities-title">Activities</h1>
        <p class="activities-intro">
            Add and track your runs, rides and walks in one place.
        </p>


        <!-- FORM: samma backend-fält, bara lite snyggare -->
        <form method="post">
            <input asp-for="Activity.Id" type="hidden" />
            <input asp-for="SortColumn" type="hidden" />
            <input asp-for="SortDescending" type="hidden" />
            <div class="mb-2">
                <select asp-for="Activity.Type"
                        asp-items="Model.ActivityTypes"
                        class="form-select activities-input">
                    <option value="">Select activity type</option>
                </select>
            </div>

            <div class="mb-2">
                <input asp-for="Activity.Name"
                       class="form-control activities-input"
                       placeholder="Name" />
            </div>

            <div class="mb-2">

                <input asp-for="Activity.ActivityDate"
                       class="form-control activities-input" />
                <span asp-validation-for="Activity.ActivityDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="Activity.TotalTime"
                       type="number"
                       class="form-control activities-input"
                       placeholder="Total time" />
            </div>

            <div class="mb-3">
                <input asp-for="Activity.Distance"
                       type="number"
                       class="form-control activities-input"
                       step="0.1"
                       placeholder="Distance" />
            </div>

            <button type="submit" class="activities-btn mb-5">
                @(Model.Activity.Id == null ? "Add activity" : "Update activity")
            </button>



        </form>

        <form method="post" asp-page-handler="Filter">
            <input type="checkbox" asp-for="ShowCycling" onchange="this.form.submit()" hidden />
            <label asp-for="ShowCycling" class="badge rounded-pill pill-activity-type btn @(Model.ShowCycling ? "btn-primary" : "btn-outline-primary")">🚴</label>

            <input type="checkbox" asp-for="ShowRunning" onchange="this.form.submit()" hidden />
            <label asp-for="ShowRunning" class="badge rounded-pill pill-activity-type btn @(Model.ShowRunning ? "btn-primary" : "btn-outline-primary")">🏃</label>

            <input type="checkbox" asp-for="ShowWalking" onchange="this.form.submit()" hidden />
            <label asp-for="ShowWalking" class="badge rounded-pill pill-activity-type btn @(Model.ShowWalking ? "btn-primary" : "btn-outline-primary")">🚶</label>
        </form>




        @* Tabellen med aktiviteter *@
        <h2 class="activities-subtitle">Recent activities</h2>

        <div class="activities-table-wrapper">
            <table class="activities-table">
                <thead>
                    <tr>
                        @* <th>ID</th> *@
                        <th>
                            <a asp-page="./activities" asp-route-SortColumn="Type" asp-route-SortDescending="@(Model.SortColumn == "Type" ? !Model.SortDescending : false)">Type</a>
                        </th>
                        <th>
                            <a asp-page="./activities" asp-route-SortColumn="Title" asp-route-SortDescending="@(Model.SortColumn == "Title" ? !Model.SortDescending : false)">Title</a>
                        </th>
                        <th>
                            <a asp-page="./activities" asp-route-SortColumn="Distance" asp-route-SortDescending="@(Model.SortColumn == "Distance" ? !Model.SortDescending : false)">Distance</a>
                        </th>
                        <th>
                            <a asp-page="./activities" asp-route-SortColumn="Date" asp-route-SortDescending="@(Model.SortColumn == "Date" ? !Model.SortDescending : false)">Date</a>
                        </th>
                        <th>
                            Calories 
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in Model.Activities)
                    {
                        <tr>
                            @* <td class="text-muted">@activity.Id</td> *@
                            <td>@activity.Type</td>
                            <td>@activity.Name</td>
                            <td>@activity.Distance</td>
                            <td>@activity.ActivityDate</td>
                            <td>@CalorieService.CalculateCalories(70, activity.TotalTimeInSeconds, FitSport.Running).ToString("F0")</td>
                            <td>
                                <a asp-route-editId="@activity.Id">Edit</a>
                                &nbsp;|&nbsp;
                                <a asp-route-deleteId="@activity.Id" class="text-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="ms-2 activities-panel w-25">

        <div>
            <h1 class="activities-title">Training Stats</h1>
            <p class="activities-intro">
                Statistics of training done recently
            </p>
            <div class="trainingstats-table-wrapper">
                <table class="activities-table">
                    <thead>
                        <tr>
                            <th>This week</th>
                            <th class="text-center">Trend</th>
                            <th>Last week</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="@(Model.ActivityTotal.TotalActivitiesThisWeek >= Model.ActivityTotal.TotalActivitiesPreviousWeek ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                @Model.ActivityTotal.TotalActivitiesThisWeek
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalActivitiesThisWeek >= Model.ActivityTotal.TotalActivitiesPreviousWeek)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>@Model.ActivityTotal.TotalActivitiesPreviousWeek</td>
                        </tr>

                        <tr>
                            <td class="@(Model.ActivityTotal.TotalDistanceThisWeek >= Model.ActivityTotal.TotalDistancePreviousWeek ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                @Model.ActivityTotal.TotalDistanceThisWeek km
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalDistanceThisWeek >= Model.ActivityTotal.TotalDistancePreviousWeek)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>@Model.ActivityTotal.TotalDistancePreviousWeek km</td>
                        </tr>
                        <tr>
                            <td class="@(Model.ActivityTotal.TotalDistanceThisWeek >= Model.ActivityTotal.TotalDistancePreviousWeek ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                Trained time
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalDistanceThisWeek >= Model.ActivityTotal.TotalDistancePreviousWeek)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>Trained time</td>
                        </tr>
                        <tr>
                            <td class="@(Model.ActivityTotal.TotalCaloriesBurntThisWeek >= Model.ActivityTotal.TotalCaloriesBurntPreviousWeek ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                @Model.ActivityTotal.TotalCaloriesBurntThisWeek.ToString("F0")
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalCaloriesBurntThisWeek >= Model.ActivityTotal.TotalCaloriesBurntPreviousWeek)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>@Model.ActivityTotal.TotalCaloriesBurntPreviousWeek.ToString("F0")</td>
                        </tr>

                        <tr>
                            <th>This month</th>
                            <th class="text-center">Trend</th>
                            <th>Last month</th>
                        </tr>

                        <tr>
                            <td class="@(Model.ActivityTotal.TotalActivitiesThisMonth >= Model.ActivityTotal.TotalActivitiesPreviousMonth ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                @Model.ActivityTotal.TotalActivitiesThisMonth
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalActivitiesThisMonth >= Model.ActivityTotal.TotalActivitiesPreviousMonth)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>@Model.ActivityTotal.TotalActivitiesPreviousMonth</td>
                            
                        </tr>

                        <tr>
                            <td class="@(Model.ActivityTotal.TotalDistanceThisMonth >= Model.ActivityTotal.TotalDistancePreviousMonth ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                @Model.ActivityTotal.TotalDistanceThisMonth km
                            </td>
                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalDistanceThisMonth >= Model.ActivityTotal.TotalDistancePreviousMonth)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>@Model.ActivityTotal.TotalDistancePreviousMonth km</td>
                            
                        </tr>
                        <tr>
                            <td class="@(Model.ActivityTotal.TotalDistanceThisWeek >= Model.ActivityTotal.TotalDistancePreviousWeek ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                Trained time
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalDistanceThisWeek >= Model.ActivityTotal.TotalDistancePreviousWeek)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>Trained time</td>
                        </tr>
                        <tr>
                            <td class="@(Model.ActivityTotal.TotalCaloriesBurntThisMonth >= Model.ActivityTotal.TotalCaloriesBurntPreviousMonth ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                @Model.ActivityTotal.TotalCaloriesBurntThisMonth.ToString("F0")
                            </td>

                            <td class="text-center">
                                @if (Model.ActivityTotal.TotalCaloriesBurntThisMonth >= Model.ActivityTotal.TotalCaloriesBurntPreviousMonth)
                                {
                                    <i class="bi bi-caret-up-fill text-success"></i>
                                }
                                else
                                {
                                    <i class="bi bi-caret-down-fill text-danger"></i>
                                }
                            </td>
                            <td>@Model.ActivityTotal.TotalCaloriesBurntPreviousMonth.ToString("F0")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/activities.css" />
}
