@page
@using TrainingTracker.Service
@using TrainingTracker.Models
@model ActivitiesModel
@{
    ViewData["Title"] = "Activities";
}

<div class="activity-background">
    <div class="activities-panel">

        <h1 class="activities-title">Activities</h1>
        <p class="activities-intro">
            Add and track your runs, rides and walks in one place.
        </p>

       
        <form method="post" asp-page-handler="" id="activityForm">
            <input asp-for="Activity.Id" type="hidden" />
            <input asp-for="SortColumn" type="hidden" value="Date" />
            <input asp-for="SortDescending" type="hidden" />
            @* <input asp-for="Activity.Type" type="hidden" value="Running" /> *@
            <div class="mb-2">
                <select asp-for="Activity.SportType"
                        asp-items="Model.SportTypeOptions"
                        class="form-select activities-input">
                    <option value="" selected>Select activity type</option>
                </select>
            </div>

            <div class="mb-2">
                <label asp-for="Activity.Name" class="text-black ms-2"></label>
                <input asp-for="Activity.Name"
                       class="form-control activities-input"
                       placeholder="Activity name" />
                <span asp-validation-for="Activity.Name" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Activity.ActivityDate" class="text-black ms-2"></label>
                <input asp-for="Activity.ActivityDate"
                       class="form-control activities-input" />
                <span asp-validation-for="Activity.ActivityDate" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Activity.TimeInput" class="text-black ms-2"></label>
                <input asp-for="Activity.TimeInput" type="time" step="1" class="form-control activities-input" />
                <span asp-validation-for="Activity.TimeInput" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Activity.Distance" class="text-black ms-2"></label>
                <input asp-for="Activity.Distance"
                       type="number"
                       class="form-control activities-input"
                       step="0.1"
                       placeholder="Distance" />
                <span asp-validation-for="Activity.Distance" class="text-danger"></span>
            </div>
        </form>

        <div class="button-icons-row">
            <!-- knappen skickar activityForm -->
            <button type="submit" class="activities-btn" form="activityForm">
                @(Model.Activity.Id == null ? "Add activity" : "Update activity")
            </button>

            <!-- separat form för filtren -->
            <form method="post" asp-page-handler="Filter">
                <div class="icons-row">
                    <input type="checkbox"
                           asp-for="ShowCycling"
                           onchange="this.form.submit()"
                           hidden />
                    <label asp-for="ShowCycling" class="activity-filter">
                        <img src="~/images/cafter.png" alt="Cykling av" class="icon-default" />
                        <img src="~/images/iconcy.png" alt="Cykling på" class="icon-active" />
                    </label>

                    <input type="checkbox"
                           asp-for="ShowRunning"
                           onchange="this.form.submit()"
                           hidden />
                    <label asp-for="ShowRunning" class="activity-filter">
                        <img src="~/images/iconjoggingafter.png" alt="Löpning av" class="icon-default" />
                        <img src="~/images/iconjogging.png" alt="Löpning på" class="icon-active" />
                    </label>

                    <input type="checkbox"
                           asp-for="ShowWalking"
                           onchange="this.form.submit()"
                           hidden />
                    <label asp-for="ShowWalking" class="activity-filter">
                        <img src="~/images/iconwalkafter.png" alt="Promenad av" class="icon-default" />
                        <img src="~/images/iconwalk.png" alt="Promenad på" class="icon-active" />
                    </label>
                </div>
            </form>
        </div>

       
        <h2 class="activities-subtitle">Recent activities</h2>

        <div class="activities-table-wrapper">
            <table class="activities-table">
                <thead>
                    <tr>
                        @foreach (var field in Enum.GetValues<SortField>())
                        {
                            var display = ActivitiesModel.SortFieldDisplay[field];
                            bool isSelected = Model.SortColumn == field;
                            bool nextDescending = isSelected ? !Model.SortDescending : false;

                            <th>
                                <a asp-page="./activities"
                                   asp-route-SortColumn="@field"
                                   asp-route-SortDescending="@nextDescending">
                                    @display
                                </a>
                            </th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in Model.Activities)
                    {
                        <tr>
                            
                            <td>@activity.SportType.ToString()</td>
                            <td>@activity.Name</td>
                            <td>@($"{activity.Distance:F1} km")</td>
                            <td>@activity.ActivityDate</td>
                            <td>@activity.TimeInput.ToString("HH:mm:ss")</td>
                            <td>@activity.Calories?.ToString("F0")</td>
                            <td>
                                <a asp-route-editId="@activity.Id">Edit</a>
                                &nbsp;|&nbsp;
                                <a asp-route-deleteId="@activity.Id" class="text-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="ms-2 trainingstats-panel w-25">

        <div>
            <h1 class="activities-title">Training Stats</h1>
            <p class="activities-intro">
                Statistics of training done recently
            </p>
            <div class="trainingstats-table-wrapper">
                <table class="activities-table">
                    <thead>
                        <tr>
                            <th>This week</th>
                            <th class="text-center">Trend</th>
                            <th>Last week</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.ActivityTotal.WeeklyRows)
                        {
                            <tr>
                                @if (row.Unit == "s")
                                {
                                    <td class="@(row.IsUp ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                        @TimeSpan.FromSeconds(row.ThisPeriod).ToString(@"hh\:mm\:ss")
                                    </td>
                                }
                                else
                                {
                                    <td class="@(row.IsUp ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                        @row.ThisPeriod.ToString("F0") @row.Unit
                                    </td>
                                }

                                <td class="text-center">
                                    @if (row.IsUp)
                                    {
                                        <i class="bi bi-caret-up-fill text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-caret-down-fill text-danger"></i>
                                    }
                                </td>

                                @if (row.Unit == "s")
                                {
                                    <td>@TimeSpan.FromSeconds(row.PreviousPeriod).ToString(@"hh\:mm\:ss")</td>
                                }
                                else
                                {
                                    <td>@row.PreviousPeriod.ToString("F0") @row.Unit</td>
                                }
                            </tr>
                        }

                        <tr>
                            <th>This month</th>
                            <th class="text-center">Trend</th>
                            <th>Last month</th>
                        </tr>

                        @foreach (var row in Model.ActivityTotal.MonthlyRows)
                        {
                            <tr>

                                @if (row.Unit == "s")
                                {
                                    <td class="@(row.IsUp ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                        @TimeSpan.FromSeconds(row.ThisPeriod).ToString(@"hh\:mm\:ss")
                                    </td>
                                }
                                else
                                {
                                    <td class="@(row.IsUp ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                        @row.ThisPeriod.ToString("F0") @row.Unit
                                    </td>
                                }


                                <td class="text-center">
                                    @if (row.IsUp)
                                    {
                                        <i class="bi bi-caret-up-fill text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-caret-down-fill text-danger"></i>
                                    }
                                </td>
                                @if (row.Unit == "s")
                                {
                                    <td>@TimeSpan.FromSeconds(row.PreviousPeriod).ToString(@"hh\:mm\:ss")</td>
                                }
                                else
                                {
                                    <td>@row.PreviousPeriod.ToString("F0") @row.Unit</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/activities.css" />
}
