@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label asp-for="Activity.Type"></label>
        <select asp-for="Activity.Type" asp-items="Model.ActivityTypes">
        <option value="">-- Välj aktivitetstyp --</option>
        </select>
        <br />
        <label asp-for="Activity.Name"></label>
        <input asp-for="Activity.Name" />
        <br />
        <label asp-for="Activity.Distance"></label>
        <input asp-for="Activity.Distance" />
        <br />
        <input type="submit" value="Lägg till aktivitet" />
    </form>

</div>

<table class="table table-striped">

    <tr>

        <td>ID</td>

        <td>Title</td>

        <td>Distance</td>

        <td>Date</td>

    </tr>

    @foreach (var activity in Model.Activities)

    {

        <tr>

            <td>@activity.Id</td>

            <td>@activity.Name</td>

            <td>@activity.Distance</td>

            <td>@activity.ActivityDate</td>

            <td><a asp-route-id="@activity.Id">Mer info</a></td>

        </tr>

    }

</table>