@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <form method="post">
        <input asp-for="Activity.Id" type="hidden" />
        
        <label asp-for="Activity.Type"></label>
        <br />
        <select asp-for="Activity.Type" asp-items="Model.ActivityTypes">
        <option value="">-- Välj aktivitetstyp --</option>
        </select>
        <br />
        <label asp-for="Activity.Name"></label>
        <br />
        <input asp-for="Activity.Name" />
        <br />
        <label asp-for="Activity.ActivityDate"></label>
        <br />
        <input asp-for="Activity.ActivityDate" />
        <br />
        <label asp-for="Activity.Distance"></label>
        <br />
        <input asp-for="Activity.Distance" />
        <br />
        <br />
        <input type="submit" value="Lägg till aktivitet" />
    </form>
</div>
<br />
<table class="table table-striped">
    <thead>Activities</thead>
    <tr>

        <td>ID</td>
        <td>Type</td>
        <td>Title</td>
        <td>Distance</td>
        <td>Date</td>
    </tr>

    @foreach (var activity in Model.Activities)

    {
        <tr>
            <td>@activity.Id</td>
            <td>@activity.Type</td>
            <td>@activity.Name</td>
            <td>@activity.Distance</td>
            <td>@activity.ActivityDate</td>
            <td><a asp-route-editId="@activity.Id">Ändra</a></td>
            <td><a asp-route-deleteId="@activity.Id">Ta bort</a></td>
        </tr>

    }

</table>