@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index-background">


    <div class="ms-2 activities-panel w-25">

        <div>
            <h1 class="activities-title">Training Stats</h1>
            <p class="activities-intro">
                Statistics of training done recently
            </p>
            <div class="trainingstats-table-wrapper">
                <table class="activities-table">
                    <thead>
                        <tr>
                            <th>This week</th>
                            <th class="text-center">Trend</th>
                            <th>Last week</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.ActivityTotal.WeeklyRows)
                        {
                            <tr>
                                <td class="@(row.IsUp ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                    @row.ThisPeriod.ToString("F0") @row.Unit
                                </td>

                                <td class="text-center">
                                    @if (row.IsUp)
                                    {
                                        <i class="bi bi-caret-up-fill text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-caret-down-fill text-danger"></i>
                                    }
                                </td>

                                <td>@row.PreviousPeriod.ToString("F0") @row.Unit</td>
                            </tr>
                        }

                        <tr>
                            <th>This month</th>
                            <th class="text-center">Trend</th>
                            <th>Last month</th>
                        </tr>

                        @foreach (var row in Model.ActivityTotal.MonthlyRows)
                        {
                            <tr>
                                <td class="@(row.IsUp ? "text-bg-success" : "text-bg-danger") badge rounded-pill p-2 m-1 pill-fixed">
                                    @row.ThisPeriod.ToString("F0") @row.Unit
                                </td>

                                <td class="text-center">
                                    @if (row.IsUp)
                                    {
                                        <i class="bi bi-caret-up-fill text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-caret-down-fill text-danger"></i>
                                    }
                                </td>

                                <td>@row.PreviousPeriod.ToString("F0") @row.Unit</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>





@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/activities.css" />
}